@CHARSET "UTF-8";
body
{
background-color: #F5F5F5;
font:normal 16px Arial, Helvetica, sans-serif;
border-collapse: collapse;
border: 0ex;
padding: 0px;
 margin:0;
 
}
.styled-select select {
   background: transparent;
   width: 143px;
   /* padding: 5px; */
   font-size: 12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   /* background-color: #FFFFFF; */
   height: 19px;
   }
	
	.styled-select {
   width: 123px;
   height: 19px;
   overflow: hidden;
   background: url('/CLIMB3/resources/images/jui/combo_arrow.png') no-repeat right #FFFFFF;
   border: 1px solid #95B8E7;
   }
   
  /*  .validate{
  background-image: url('../images/jui/validatebox_warning.png');
  background-repeat: no-repeat;
  background-position: right center;
  border-color: #ffa8a8;
  background-color: #fff3f3;
  color: #000;
} */


.calender{
  background-image: url('../images/jui/datebox_arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #95B8E7;
  background-color: #FFFFFF;
  color: #000;
}

table {
padding: 0;
border-spacing: 0;
border-collapse: collapse;
width: 100%;
}

fieldset{
	border: 1px solid #95B8E7;
	}
	
	
	
	
	
