fieldset.sectionwrap{ /*fieldset that wraps around each form "page" */
/* border-width:0; */
padding:5px;
}

legend{ /*title shown at top of each form page */
font:bold 13px Arial;
color: #0E2D5F;
}

div.stepsguide{ /*div that contains all the "steps" text located at top of form */ 
width: 100%; /*width of "steps" container*/
overflow:hidden;
margin-bottom:15px;
cursor:pointer;
}

div.stepsguide .step{ /*div that wraps around each "steps" text */
width:75px; /*width of each "steps" text*/
font: bold 24px Arial;
float:left;
border: 1px;
background-color: black;
text-align: center;
color: #FFFFFF;
padding: 1px;
}

div.stepsguide .disabledstep{ /*div that wraps around each "steps" text */
color:black;
border: 1px;
background-color: #CCCCCC;

}

div.stepsguide .step .smalltext{ /*small footer text inside "steps" text */
font-size: 12px;
font-weight: normal;
}

div.formpaginate{ /* CSS for pagination DIV container */
width: 100%;
overflow:hidden;
font-weight:bold;
text-align:center;
margin-top:1em;
}

div.formpaginate .prev, div.formpaginate .next{ /*CSS for "prev" and "next" SPAN elements within paginate container */
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
padding:2px 5px;
background:darkred;
color:white;
cursor:hand;
cursor:pointer;
}