html{box-sizing:border-box}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}


a {
    color: #C5C5C5;
    text-decoration: none;
}

a:hover {
    /*background: #900;*/
    color: #FFF;
}
.menu_back{
   background: linear-gradient(black, white);
   vertical-align:top;
}
.body_back{
    background: linear-gradient(#FF4F4F, white);
}
.head_back{
    height:30px;
    /*background: linear-gradient(#BC8D8C,#781B18);*/
    background:white;
    color:black;
    font-size:10px;
    font-weight:bold;
    font-family:verdana;
}
.footer_back{
	width: 100%; height: 20px; text-align: right; position: fixed; left: 0px; bottom: 0px;
	background: #781B18;
	color:#FFFFFF;
    font-size:15px;
}
.pad_10{
	 padding-right:10px;
	 font-style:italic;
}


 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background: -webkit-linear-gradient(top, rgba(153,28,6,1) 0%, rgba(160,33,14,1) 50%, rgba(133,20,5,1) 51%, rgba(134,23,9,1) 71%, rgba(129,24,14,1) 100%);    font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
    background: -moz-linear-gradient(top, rgba(153,28,6,1) 0%, rgba(160,33,14,1) 50%, rgba(133,20,5,1) 51%, rgba(134,23,9,1) 71%, rgba(129,24,14,1) 100%);    font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 4px;
    width: 200px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    color: #FFF;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background: -webkit-linear-gradient(top, rgba(249,112,88,1) 0%, rgba(244,144,128,1) 50%, rgba(248,72,48,1) 51%, rgba(242,80,58,1) 71%, rgba(235,85,71,1) 100%);
    background: -moz-linear-gradient(top, rgba(249,112,88,1) 0%, rgba(244,144,128,1) 50%, rgba(248,72,48,1) 51%, rgba(242,80,58,1) 71%, rgba(235,85,71,1) 100%);
    color: #FFF;
    color: #FFF;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    background-color: white;
    width:200px;
    display: none;
    margin:0;
    color: #FFF;
}
.sub_panel {
    
/*background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );*/
background:#606060;
    color: #FFF;
    width:180px;
    font-size:10px;
    font-weight:normal;
    text-align:middle;
    padding-left:20px;
    margin:0px;
    height:20px;
}
p .sub_panel:hover {
	color:#FFF !important;
   font-color: #FFF !important;
   background:#C5C5C5 !important;
}
p a {
    font-color: #CCC !important;
    text-decoration: none !important; 
    color: #C5C5C5 !important;
}
p a:hover {
	color:#FFF !important;
   font-color: #FFF !important;
   /*background:#C5C5C5 !important;*/
}
.msrs-content{
	height:555px;
	overflow:auto;
	padding-left:10px;
	}
